grupo5-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "grupo5-datafactory"
		},
		"DataFactor_AzureDatabricks2_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"DataFactor_AzureDatabricks2\""
		},
		"DataFactory_ADLS_Gen_2_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"DataFactory_ADLS_Gen_2\""
		},
		"DataFractory_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"DataFractory_AzureDatabricks\""
		},
		"DataFactor_AzureDatabricks2_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1201-223825-qjp0tiol"
		},
		"DataFactory_ADLS_Gen_2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://grupo.dfs.core.windows.net/"
		},
		"DataFractory_AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1201-223825-qjp0tiol"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/capabronce_capaplata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecutar Cuaderno Databricks para transferencia de capa bronca hacia capa plata",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/mparedespalomino130302@outlook.com/Transformacion Capa bronce - Capa plata"
						},
						"linkedServiceName": {
							"referenceName": "DataFractory_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFractory_AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/capaplata_capaoro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecutar Cuaderno Databricks para transferencia de capa plata hacia capa oro",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/mparedespalomino130302@outlook.com/Transferencia de Capa Plata - Capa Oro"
						},
						"linkedServiceName": {
							"referenceName": "DataFactor_AzureDatabricks2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactor_AzureDatabricks2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_input_bronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copiar archivos de carpeta input hacia la capa bronce",
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Archivos_input",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Copy_input_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"nombrearchivo": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Output_copy_input_capabronce",
											"type": "DatasetReference",
											"parameters": {
												"nombrearchivo": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Archivos_input')]",
				"[concat(variables('factoryId'), '/datasets/Copy_input_capabronce')]",
				"[concat(variables('factoryId'), '/datasets/Output_copy_input_capabronce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "proyectofinal/input",
						"fileSystem": "grupo5"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_input_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombrearchivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombrearchivo",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/input",
						"fileSystem": "grupo5"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_copy_input_capabronce')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFactory_ADLS_Gen_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombrearchivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().nombrearchivo",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/capabronce",
						"fileSystem": "grupo5"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataFactory_ADLS_Gen_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFactor_AzureDatabricks2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conexión de data Factory hacia databricks",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3456531064880830.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DataFactor_AzureDatabricks2_accessToken')]"
					},
					"existingClusterId": "[parameters('DataFactor_AzureDatabricks2_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFactory_ADLS_Gen_2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Servicio para vincular Data Factory Lake Storage Gen 2",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataFactory_ADLS_Gen_2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataFactory_ADLS_Gen_2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFractory_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Conector entre los servicios de data Factory y Azure databricks",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3456531064880830.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('DataFractory_AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('DataFractory_AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ejecutar todo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute ingesta",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "copy_input_bronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute bronce-plata",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute ingesta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "capabronce_capaplata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute plata-oro",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute bronce-plata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "capaplata_capaoro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/copy_input_bronce')]",
				"[concat(variables('factoryId'), '/pipelines/capabronce_capaplata')]",
				"[concat(variables('factoryId'), '/pipelines/capaplata_capaoro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AGENDA DE EJECUCION')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "AGENDA UN HORARIO PARA EJECUCION DE PIPELINE",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ejecutar todo",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2024-12-07T16:00:00",
						"endTime": "2024-12-31T23:59:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ejecutar todo')]"
			]
		}
	]
}